*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./img/Vector (3).svg") no-repeat;
  background-size: cover;
  background-position: center;
}

.logomarca{
  display: flex;
  justify-content: center;
}

.principal{
  width: 420px;
  background: transparent;
  border-radius: 12px;
  border: 2px solid #fff;
  backdrop-filter: blur(10px);
}

.principal h2{
  margin-top: 40px;
  text-align: center;
  border: 2px solid(255, 255, 255, .2);
  border-radius: 4px;
}

.principal a{
  padding: 20px 40px;
  text-decoration: none;
  color: #fff;
}

.principal a:hover{
  background-color: #fff;
  color: #111;
  border-radius: 12px;
  font-size: 24px;
}
